version: '3.8'

services:
  arangodb:
    image: arangodb:latest
    container_name: bus-management-arangodb
    environment:
      ARANGO_ROOT_PASSWORD: admin123
    ports:
      - "8529:8529"
    volumes:
      - arangodb_data:/var/lib/arangodb3
      - arangodb_apps:/var/lib/arangodb3-apps
    restart: unless-stopped
    networks:
      - bus-network

  redis-be:
    image: redis:7-alpine
    container_name: bus_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - bus-network

  neo4j:
    image: neo4j:5
    container_name: bus_neo4j
    environment:
      NEO4J_AUTH: neo4j/admin123   # user: neo4j, password: admin123
    ports:
      - "7474:7474"  # HTTP
      - "7687:7687"  # Bolt
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - neo4j_import:/import
      - neo4j_plugins:/plugins
    restart: unless-stopped
    networks:
      - bus-network

volumes:
  arangodb_data:
  arangodb_apps:
  redis_data:
  neo4j_data:
  neo4j_logs:
  neo4j_import:
  neo4j_plugins:

networks:
  bus-network:
    driver: bridge
