# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# IDE/editor folders
.vscode/
.idea/
